
div.melon-summary img {
    width: 200px;
}

div.navbar-header img {
    width: 30px;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}

div.melon-summary {
    display: inline-block;

    width: 300px;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

li.warning {
    color: red;
}

img.product-img {
    display: inline-block;
    max-width: 400px;
}

div.cart {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img.melon-cart {
    height: 15px;
}

div#promotion {
    position: fixed;
    margin-top: 50px;
    width: 600px;
    right: 50%;
    margin-right: -300px;
    top: 50px;
    border: 3px solid #ccc;
}

div#blackout-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-color: rgba(64, 64, 64, 0.5);
    left: 0px;

}
